.about {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  gap: 20px;
  padding: 0 30px;
}

.about__image {
  width: 50%;
  border-radius: 8px;
  display: block;
  object-fit:contain; 
}

.about__text-container {
  height: fit-content;
  margin-top: 15px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.about__title {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin:0; 
  padding:0; 
}

.about__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  margin:0; 
  padding-top:10px;   
  width: 100%; 
  max-width: 100%; 
}

@media  screen and (max-width:960px) {
  .about{ 
    flex-direction:column; 
    justify-content: center;
    align-items: center;
  }
}
