.about {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 100px;
  justify-content: center;
}

.about__image {
  width: 50%;
  border-radius: 8px;
  display: block;
  padding-right: 50px;
  margin-top: 15px;
  align-self: center;
}

.about__text-container {
  border-bottom: 12px solid black;
  border-top: 12px solid black;
  height: fit-content;
  margin-top: 15px;
  align-self: center;
}

.about__title {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  margin: 20px 0 0;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.about__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.75;
  max-width: 500px;
  margin: 10px auto 20px;
  text-align: center;
}
