.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.about__image {
  height: 480px;
  width: 560px;
  border-radius: 8px;
  display: block;
}

.about__text-container {
  border-bottom: 12px solid black;
  border-top: 12px solid black;
}

.about__title {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  margin: 20px 0 0;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}
.about__description {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  text-indent: 16px;
  font-size: 20px;
  line-height: 26px;
  max-width: 500px;
  margin: 20px auto 10px;
}
