.charities__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 72px;
  line-height: 1;
  text-align: center;
}

.charities__cards {
  padding-top: 20px;
  padding-bottom: 20px;
}

.charities__cards-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
  grid-gap: 50px 50px;
  justify-content: center;
}

.charities__card {
  width: 100%;
  margin: 0;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 8px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charities__card-text {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1;
  padding: 10px 5px;
}

.charities__card-image {
  max-height: 175px;
  border-radius: 8px;
}

.charities__card-image:hover {
  opacity: 0.4;
}
