.donation {
  padding: 100px 80px 215px;
  background-color: #ccc;
}

.donation__title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}

.donation__cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.donation__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 250px;
  list-style-type: none;
}

.donation__caption {
  font-size: xx-large;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.donation__button {
  margin-top: auto;
  width: 200px;
  height: 40px;
  padding: 0;
  font-size: 24px;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.donation__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
