.donation {
  /* padding: 100px 75px; */
  padding:20px 30px; 
  background-color: #cccccc8a;
  height: 100vh;
}

.donation__title {
  /*text-align: center;*/
  margin-bottom: 20px;
  font-size: 32px;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 1;
}

.donation__subtitle {
  margin-bottom: 40px;
  font-size: 50px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
}

.donation__cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 100px;
  padding: 0;
}

.donation__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 250px;
  list-style-type: none;
}

.donation__caption-title {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  margin: 0;
}

.donation__caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  margin: 0;
}

/* .charities__form-modal-open-btn {
  margin-top: auto;
  width: 200px;
  height: 40px;
  padding: 0;
  font-size: 24px;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.charities__form-modal-open-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
} */

.donation__form {
  max-width: 630px;
}

.donation__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 8px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
}

.donation__input {
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 16px 12px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: rgba(33, 33, 33, 1);
}

.donation__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.donation__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.donation__error {
  color: rgba(255, 0, 0, 0.7);
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
}

.donation__button {
  border-radius: 4px;
  background-color: #18dc28;
  transition: background-color 0.5s linear;
  width: 100%;
  padding: 20px 0;
  border: none;
  margin-bottom: 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
  color: #fff;
}

.donation__button:hover {
  background-color: #3ff36c;
  cursor: pointer;
}

.donation__button:disabled,
.donation__button:disabled:hover {
  background-color: rgba(33, 33, 33, 1);
  cursor: default;
  opacity: 50%;
}
