.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 40px 0;
  padding: 20px 0;
  align-content: center;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 1;
  text-align: center;
}

.footer__description {
  font-size: 20px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  text-indent: 16px;
  border-top: 12px solid black;
  border-bottom: 12px solid black;
  width: 400px;
  padding: 20px;
}

.footer__image {
  height: 400px;
  width: 400px;
  display: block;
  border-radius: 50%;
}

.footer__contacts {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.footer__contact-title {
  font-size: 24px;
}

.footer__contact-type {
  font-weight: 600;
  margin-bottom: 8px;
}

.footer__contact {
  margin-bottom: 12px;
}

.footer__social_icons {
  justify-content: center;
  display: flex;
  padding: 20px;
}
.footer__social_icon {
  list-style: none;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}
.footer__social_icon:nth-child(2) {
  margin-left: 10px;
}
.footer__social_icon:nth-child(3) {
  margin-left: 10px;
}
.footer__social_icon:last-child {
  margin-left: 10px;
}
.footer__social_icon:hover {
  color: red;
}
.footer__social_icon i {
  font-size: 25px;
  margin-bottom: 5px;
}

.copyright {
  padding: 0;
  margin: 0;
  text-align:center; 
}
.footer__horizontal_line{ 
margin-top: 30px; 
}

@media screen and (max-width: 627px) {
  .footer {
    margin: 12px 0 0;
    padding: 12px 0 0;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__description {
    font-size: 16px;
    text-indent: 10px;
    border-top: 4px solid black;
    border-bottom: 8px solid black;
    width: 288px;
    padding: 10px;
  }

  .footer__image {
    margin: 12px 0 0;
    height: 288px;
    width: 288px;
  }

  .footer__contacts {
    margin: 12px 0 0;
  }

  .footer__contact-title {
    font-size: 16px;
  }

  .footer__contact-type {
    font-size: 14px;
  }

  .footer__contact {
    font-size: 12px;
  }
}
