.header {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background: url(../images/headerbg.jpg) no-repeat center center/cover;
  position: relative;
  object-fit: cover;
  padding: 0;
}

.header__top_emergency {
  padding: 15px;
  top: 30%;
  left: 17%;
  position: absolute;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 1;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: black;
}

.header__footer {
  padding: 5px;
  border: solid 1px #fff;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  right: 20%;
  bottom: 15%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}

.header__footer:hover {
  transition: all 0.2s ease-in-out;
  background: rgb(0, 0, 0, 0.4);
  padding: 15px;
}
.header__footer_paragraph {
  float: left;
  width: 280px;
  display: none;
  padding-top: 15px;
  color: #ffffff;
}
.header__footer:hover .header__footer_paragraph {
  display: block;
}

@media screen and (max-width: 621px) {
  .header__top_emergency {
    font-size: 50px;
    padding: 15px;
    top: 30%;
    left: 20%;
  }
}
@media screen and (max-width: 500px) {
  .header {
    height: 60vh;
  }
  .header__top_emergency {
    font-size: 40px;
    padding: 15px;
    top: 30%;
    left: 8%;
  }
}
@media screen and (max-width: 350px) {
  .header__top_emergency {
    font-size: 25px;
    padding: 0;
    top: 30%;
    left: 7%;
  }
}
