.header {
  background: url(../images/headerbg.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
  text-transform: uppercase;
  z-index: 200;
}
.header__footer {
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
  text-transform: lowercase;
}
.header__footer:hover {
  transition: all 0.3s ease-in-out;
  background: yellow;
  padding: 10px;
}

.header__footer_paragraph {
  float: left;
  padding-top: 5px;
  width: 240px;
  display: none;
}
.header__footer:hover .header__footer_paragraph {
  display: block;
}
