.header {
  height: 100vh;
  background: url(../images/headerbg.jpg) no-repeat center center/cover;
  position:relative; 
}
.header__top_emergency {
  padding: 15px;
  top: 40%; 
  left:50%; 
  position:absolute; 
}

.header__footer {
  padding: 5px;
  border: solid 1px #fff;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  right: 30%;
  top: 50%;
  z-index: 1; 
}

.header__footer:hover {
  transition: all 0.2s ease-in-out;
  background: yellow;
  padding: 15px;
}
.header__footer_paragraph {
  float: left;
  width: 280px;
  display: none;
  padding-top: 15px;
}
.header__footer:hover .header__footer_paragraph {
  display: block;
}
