.nav {
  border-bottom: 1px solid red;
}
.nav__logo_title {
  color: red;
  font-size: 25px;
  margin: 0;
  padding: 20px;
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #fff;
}
.nav__logo_image {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 10px;
}

.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13%;
  left: 39%;
  z-index: 100;
}
.nav__link a {
  text-decoration: none;
  color: #000;
}
.nav li {
  list-style: none;
}
.nav__link {
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}
.nav__link:hover {
  transition: all 0.5s ease-out;
  background: rgb(231, 74, 74);
  border-radius: 20px;
}
.nav__link a:hover {
  color: #fff;
}
/* Navigation  */
.nav__link-home {
  margin-left: -350px;
}
.nav__link-about {
  margin-left: -240px;
}
.nav__link-charities {
  margin-left: -50px;
}
.nav__link-protocols {
  margin-right: -180px;
}
.nav__link-waytohelp {
  align-self: self-end;
  margin-right: -300px;
}
