.nav__logo_title {
  color: red;
  font-size: 25px;
  margin: 0;
  padding: 20px;
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #fff;
}
.nav__logo_image {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 10px;
  opacity: 0.8;
}
.header__footer {
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
  text-transform: lowercase;
}
.header__footer:hover {
  transition: all 0.3s ease-in-out;
}
.header__fotter:hover {
  width: 450px;
}

.header__footer_paragraph {
  float: left;
  padding-top: 20px;
  width: 240px;
  display: none;
  font-size: 10px;
}
.header__footer:hover .header__footer_paragraph {
  display: block;
}

.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13%;
  left: 39%;
  z-index: 100;
}
.nav__link a {
  text-decoration: none;
  color: #333;
}
.nav li {
  list-style: none;
}
.nav__link {
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
}
.nav__link:hover {
  padding: 10px;
  transition: all 0.5s ease-out;
  background: rgb(231, 74, 74);
  border-radius: 10px;
}
.nav__link a:hover {
  color: #fff;
}
/* Navigation  */
.nav__link-home {
  margin-left: -350px;
}
.nav__link-about {
  margin-left: -240px;
}
.nav__link-charities {
  margin-left: -50px;
}
.nav__link-protocols {
  margin-right: -180px;
}
.nav__link-waytohelp {
  align-self: self-end;
  margin-right: -300px;
}
