.nav {
  width: 100%;
  /* position: fixed;
  top: 0;
  z-index: 1; */
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #fff;
}
.nav__links {
  height: 50px;
  background: rgb(231, 74, 74);
  display: flex;
  flex-wrap:wrap; 
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  text-transform: uppercase;
}
.nav__link a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1;
}
.nav li {
  list-style: none;
}
.nav__link {
  padding: 7px;
  font-weight: 500;
  text-decoration: none;
}
.nav__link:hover {
  transition: all 0.5s ease-out;
  background: rgb(143, 42, 42);
  border-radius: 20px;
}

@media screen and (max-width:550px){ 

  .nav__links{ 
    font-size: 18px; 
    height: 80px; 
  }
}

