.prep {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: #cccccc8a;
}

.prep__title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
}

.prep__card {
  margin: 20px 0;
  position: relative;
  width: 627px;
  padding: 10px;
  box-shadow: 1px 1px 3px black;
  border-radius: 8px;
  background-color: #ffffff;
}

.prep__card-image {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.prep__card-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 28px;
  text-align: center;
  border-bottom: 4px solid red;
}

.prep__card-description {
  margin-top: 20px;
  font-size: 24px;
}

.prep__list {
  width: 420px;
  padding: 0;
  margin: 20px auto;
  font-size: 18px;
}

.prep__list li {
  margin: 16px 10px 8px;
}
@media screen and (max-width: 627px) {
  .prep__title {
    font-size: 24px;
  }

  .prep__card {
    margin: 20px 0 0;
    width: 288px;
    padding: 4px;
  }

  .prep__card-image {
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }

  .prep__card-title {
    font-size: 18px;
    border-bottom: 2px solid red;
  }

  .prep__card-description {
    margin-top: 10px;
    font-size: 16px;
  }

  .prep__list {
    width: 240px;
    margin: 10px auto;
    font-size: 14px;
  }

  .prep__list li {
    margin: 8px 6px 4px;
  }
}
